*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: auto;
}

/* Font classes */

.bold{
    font-weight: 600;
}

.pink{
    color: #F9636B;
}

/* Body */

body{
    font-family: 'Roboto', sans-serif;
}

/* Buttons Classes */

.button{
    border-radius: 30px;
    padding: 10px 17px 10px 17px
}

.button_blue{
    background-color: turquoise;
}

.button_red{
    background-color: violet;
}

/* Header */

header{
    background-color: blue;
    height: 1020px;
}

/* Nav Bar */

nav{
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
}

#nav_logo{
    display: flex;
}

#nav_logo img {
    width: 60px;
    filter: brightness(100);
    width: 80px;
    height: 80px;
}

#nav_logo_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

#nav_logo_words_up{
    font-size: 1.7rem;
    font-weight: 300;
}

#nav_logo_words_down{
    font-size: 1.5rem;
    font-weight: 600;
}

#nav_links{
    display: flex;
    align-items: center;
    margin-left: auto;
}

#nav_links_list {
    display: flex;
    list-style: none;
    
}

#nav_links_list li a{
    text-decoration: none;
    color: white;
    padding: 0 15px 0 15px;
}



#nav_button{
    display: flex;
    align-items: center;
    margin-left: 40px;
}

/* Jumbotron */
#jumbotron{
    display: flex;
}

/* Jumbotron image */

#jumbotron img{
    width: 50%;
    height: 10%;
    margin-left: auto;
}

/* Jumbo Text */

#jumbo_textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 920px;
    width: 45%;
}

#jumbo_textbox span{
    color: white;
    font-size: 5rem;
}

#jumbo_textbox p{
    color: #03A7D3E6;
    padding: 3rem 0 5rem 0;
}

#jumbo_buttons{
    display: flex;
}

#jumbo_buttons div{
    font-size: 1.2rem;
    color: white;
    padding: 15px 45px 15px 45px;
    margin-right: 2rem;
}

/* Site Main */

.section_title{
    font-size: 3rem;
    padding: 1rem 0 2rem 0;
}

.section_top_text{
    padding-top: 3rem;
}

/* Services Section */

#services{
    height: 1100px;
    text-align: center;
}